<!DOCTYPE html>
<html>
<head>
<title>Views</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-2">Plotting </h1>
                <hr class="mt-0 mb-4">
                {% if file_name == False%}
                <script type="text/javascript">
                    function searchTextDownload(){
                        console.log("Generate Button Clicked!");
                        var user_id = document.getElementById("user_id").value
                        console.log(user_id);
                        $.ajax({
                            url: '{% url "search_txt" %}',
                            type: 'POST',
                            data: {
                                'user_id': user_id
                            },
                            dataType: 'json',
                            success: function (data) {
                                console.log(data)
                                if(data.code == 1)
                                    document.getElementById("log_generate_txt").innerHTML = "Seed file generated!";
                                else
                                    document.getElementById("log_generate_txt").innerHTML = "Failed to generate seed file!";
                            }
                        });
                    }
                </script>
             
                <script type="text/javascript">
                    function onClickFaaSearchBtn(){
                        console.log("Clicked FaaSearchButton");
                        var user_id_faa = document.getElementById("user_id_faa").value
                        $.ajax({
                            url: '{% url "search_faa" %}',
                            data: {
                                'user_id': user_id_faa
                            },
                            dataType: 'json',
                            success: function (data) {
                                console.log(data)
                                var str = "";
                                data.datalist.map((item, idx) => {
                                    if(data.hreflist[idx] != '')
                                        str += '<ol><a href="'+data.hreflist[idx]+'"/>'+ (idx+2) +' '+ item +'</a></ol>'
                                    else
                                        str +='<ol><a href="'+data.hreflist[idx]+'" onclick="alert('No protein found')"/>'+ (idx+1) +' '+ item +'</a></ol>'
                                });
                                   /*
                                data.datalist.map((item, idx) => {

                                    str += '<ol><a href="'+data.faa_url_list[idx]+'"/>'+ (idx+1) +' '+ item +'</a></ol>'
                                });
                                */
                                if(data.datalist.length == 0){
                                    str += '<li><a href="">No item founds</a></ol>'
                                    console.log(str);
                                }
                                document.getElementById("faaDataList").innerHTML = str;
                            }
                        });

                    }
                </script>

                <!--<form method="post" enctype="multipart/form-data" action="/searchFaaAndDownload/">{% csrf_token %}-->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="user_id" class="col-form-label  requiredField">
                                Faa file search<span class="asteriskField">*</span>
                            </label>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" name="user_id_faa" maxlength="100" class="textinput textInput form-control" required="" id="user_id_faa">
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-primary" value="Search" onclick="onClickFaaSearchBtn()">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--</form>-->
                <hr class="mt-0 mb-4">
                <ui id="faaDataList">
                </ui>
                {% load static %}
                <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
                <script type="text/javascript">
                    function binaryToDataURL(inputArray){
                        var base64 = btoa(String.fromCharCode.apply(null, inputArray));
                        var uri = 'data:image/jpeg;base64,' + base64;
                        return uri;
                    }

                    function onClickSubmitButton(){
                        console.log("On Click Submit Button!");
                        //var file = document.getElementById("seed_file").files[0];
                        var file1 = document.getElementById("seed_file1").files[0];
                        var flag = false;
                        //if( file ) flag = true;
                        //else flag = false;
                        //console.log(file)
                        console.log(file1)
                        var email = document.getElementById("email").value;
                        var flag_email = document.getElementById("send_email_or_not").value;
                        var form_data = new FormData();
                        //form_data.append("seed_input", file);
                        form_data.append("seed_input1", file1);
                        form_data.append('email',email);
                        form_data.append('flag_email',flag_email);
                        form_data.append('flag', flag);
                        //console.log(file);
                        console.log(email);
                        /*
                        $.ajax({
                            url: '{% url "start_automation" %}',
                            type: 'POST',
                            data: form_data,
                            dataType: 'json',
                            success: function (data) {
                                console.log(data);
                            }
                        });
                        */
                        fetch('/start_automation/', {method: "POST", body: form_data});
                    }

                    function onClickDrawButton(){
                        $.get('{% url "get_plot_image" %}', function(data) {
                            var canvas=document.getElementById("myChart");
                            var context=canvas.getContext('2d');
                            console.log(data);
                            var img = new Image();
                            img.onload = function(){
                                context.drawImage(img, 0, 0, context.canvas.width, context.canvas.height);
                            };
                            img.onerror = function(e){
                                console.log('Error during loading image:', e);
                            };
                            img.src = "data:image/png;base64,"+ data;
                        });
                    }
                    function onClickDrawButton_(){
                    /*
                        $.get('{% url "line_chart_json" %}', function(data) {
                            console.log(data);
                            var ctx = $("#myChart").get(0).getContext("2d");
                            new Chart(ctx, {
                                type: 'line', data: data
                            });
                        });
                     */
                        $.get('{% url "get_plotly2d" %}', function(data) {
                            console.log(data.plot);
                            document.getElementById("plot_container").innerHTML = '<iframe src="/draw_plot2d" height="500" width="100%"></iframe>';
                        });
                    }
                </script>
                <div class="row">
                    <form method="post" enctype="multipart/form-data" action="/start_automation/">{% csrf_token %}
                    <br>
                    <!--<b> Input gz file:</b> <input id="seed_file" type="file" name="seed_input" required="">
                    <br>-->
                    <b> Input faa file:</b> <input id="seed_file1" type="file" name="seed_input1" required="">
                    <br>
                    Send Email : <input name="send_email_or_not" type="checkbox" id="send_email_or_not"/>
                    <br>
                    Email : <input name="email" type="email" id="email"/>
                    <br>
                    <!--<input type="submit" class="btn btn-success" value="Submit">-->
                    <a class="btn btn-success" onclick="onClickSubmitButton()">Submit</a>
                    <br>
                    </form>
                    <hr class="mt-0 mb-4">
                </div>
                <!--
                <iframe height="500" width="1200" src="https://pfam.xfam.org/"></iframe>
                -->
                <hr class="mt-0 mb-4">
                <div class="row">
                    <button class="btn btn-success" onclick="onClickDrawButton_()"> Draw Graph </button>
                </div>

                <div class="row">
                    <!--<canvas id="myChart" width="500" height="400"></canvas>-->
                    <div class="container">
                      <div class="row" style="border: 1px solid black">
                        <div id="plot_container" class="col-md-12">

                        </div>
                      </div>
                    </div>

                </div>
                {% else %}
                <a href="{{ MEDIA_URL }}hmm_output">Download Output File</a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
